{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <div id="showcase">
        <h1>Welcome to Trade Logix</h1>
        <p>Your trading journal and analysis tool.</p>
    </div>

    <div class="content">
        <h1>{{ homepage }}</h1>
        <h3>Where the trade system logic comes</h3>
        <h4>{{ message }}</h4>
    </div>
{% endblock %}
