{% extends 'base.html.twig' %}
{% block title %}Dashboard{% endblock %}
{% block body %}
    <h1>{{ homepage }}</h1>
    <h3>Where the trade system logic comes</h3>
    <h4>{{ message }}</h4>
{% endblock %}
