{# templates/playbook/playbook.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Playbooks{% endblock %}

{% block body %}
    <div class="container">
        <header>
            <div id="branding">
                <h1>Playbooks</h1>
            </div>
        </header>
        <div id="content">
            {% for entry in playbookEntries %}
                <div class="card">
                    <h2>{{ entry.title }}</h2>
                    <p>{{ entry.body }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}