{# templates/playbook/playbook.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Playbooks{% endblock %}

{% block body %}

    <div id="showcase">
        <h1>Playbooks</h1>
    </div>

    <div class="container">
        <div id="content">
            {% for entry in playbookEntries %}
                <div class="card">
                    <h2><a href="{{ path('app_playbook_show', {'id': loop.index}) }}">{{ entry.title }}</a></h2>
                    <p>{{ entry.body }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}