{% extends 'base.html.twig' %}

{% block title %}Review{% endblock %}

{% block body %}
    <div id="showcase">
        <h1>Write a Review</h1>
        <p>Share your thoughts on your latest trades.</p>
    </div>

    <div class="container">
        <div class="form-container">
            <form action="{{ path('app_review_storeplaybook') }}" method="post">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" id="title" name="title" required>
                </div>

                <div class="form-group">
                    <label for="body">Body:</label>
                    <textarea class="form-control" id="body" name="body" rows="5" required></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
{% endblock %}
