{% extends 'base.html.twig' %}

{% block title %}Reviews{% endblock %}

{% block body %}

    <div class="container">
        <header>
            <div id="branding">
                <h1>Weekly Reviews</h1>
            </div>
        </header>
        <div id="content">
            {% for entry in reviewEntries %}
                <div class="card">
                    <h2>{{ entry.title }}</h2>
                    <p>{{ entry.body }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}